@{
    Layout = null; 
    var qrUrl = Url.Action("GenerateQRCodeSvg", "QRCode");
    // URL tới giao diện Create của HocViensController
    var createUrl = Url.Action("Create", "HocViens");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>QR Code - Tới Trang Create</title>
</head>
<body>
    <h1>Quét mã này để đến form Create</h1>
    <a href="@createUrl">
        <img src="@qrUrl" alt="QR Code" style="border:1px solid #ccc; padding:4px;" />
    </a>
</body>
</html>
