@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chào mừng bạn đến với Bản Kê Khai Nhập Học</h1>
<p>
    Đây là trang chủ. Bạn có thể:
</p>
<ul>
    <li><a href="~/HocViens">Quản lý Học Viên</a></li>
    <li><a href="~/KhoaHocs">Quản lý Khoá Học</a></li>
    <li><a href="~/LopHocs">Quản lý Lớp Học</a></li>
    <li><a href="~/DanhSachLops">Ghi Danh Học Viên vào Lớp</a></li>
</ul>
